<h1>Make your form here</h1>

<form action="/pirates" method="POST">
<label>Pirate:</label>
<input id="pirate[name]" type="text" name="pirate[name]">
<input id="pirate[weight]" type="text" name="pirate[weight]">
<input id="pirate[height]" type="text" name="pirate[height]">


<br/>

<label>Ship1:</label>
<input id="ship_name_1" type="text" name=pirate[ships][][name]>
<input id="ship_type_1" type="text" name=pirate[ships][][type]>
<input id="ship_booty_1" type="text" name=pirate[ships][][booty]>


<br/>

<label>Ship2:</label>
<input id="ship_name_2" type="text" name=pirate[ships][][name]>
<input id="ship_type_2" type="text" name=pirate[ships][][type]>
<input id="ship_booty_2" type="text" name=pirate[ships][][booty]>

<input id='Submit' type="submit" value="create">
</form>